/* .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px; 
    background-color: beige;
    border: solid 5px green;
}

p {
    color: red;
}

.grid-item {
    border: solid 5px orange;
    background-color: beige;
    margin: 20px;
}

.grid-item img {
    width: 300px;
    aspect-ratio: 16 / 9;
} */

.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 15px; 
    background-color: beige;
    border: solid 5px green;
}

.grid-item2 {
    border: solid 2px orange;
    background-color: beige;
    margin: 20px;
}

.nested-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}