.grid-container {
    display: grid;
    grid-template-rows: auto auto; /* Two rows, first row with content, second row with two columns */
    grid-template-columns: 1fr 1fr; /* Two equal-width columns */
    gap: 1vw; /* Adjust the gap as needed */
    background-color: beige;
  }
  
  .empty {
    grid-row: 1; /* Place the empty div in the first row */
    grid-column: 1 / span 2; /* Make it span both columns */
    background-color: lightgray; /* Just for visualization */
    margin: 1%;
  }
  
  .column {
    background-color: lightblue; /* Just for visualization */
    padding: 20px;
    padding: 5%
  }