#wie-ben-ik {
    /* border: solid 2px #f5f5dc; */
    padding-top: 20px;
}

#wat-vind-ik-leuk {
    /* border: solid 2px red; */
    padding-top: 20px;
}

#waarom-gebruik-ik-fl {
    /* border: solid 2px green; */
    padding-top: 20px;
}

img {
    height: 300px;
}