/* FONT FAMILY */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'DDCHardware-compressed';
    src: url('fonts/DDCHardware-Compressed.otf')
}

@font-face {
    font-family: 'DDCHardware-regular';
    src: url('fonts/DDCHardware-Regular.otf')
}

/*  ---------------------------------------------*/

/* ALGEMEEN */
body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #16182c;
    text-align: center;
}

/* TEXT */
h1,
h2,
p,
a {
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    color: yellowgreen;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: orange;
    color: white;

    /* random bolletje bij de footer??? */
}

/*  ---------------------------------------------*/