/* FONT FAMILY */
@font-face {
    font-family: 'Roboto';
    src: url('fonts/Roboto-Regular.ttf')
}

@font-face {
    font-family: 'DDCHardware-compressed';
    src: url('fonts/DDCHardware-Compressed.otf')
}

@font-face {
    font-family: 'DDCHardware-regular';
    src: url('fonts/DDCHardware-Regular.otf')
}

/*  ---------------------------------------------*/

/* ALGEMEEN */
body {
    padding-left: 10%;
    padding-right: 10%;
    background-color: #16182c;
    text-align: center;
}

/* TEXT */
h1,
h2,
p,
a {
    font-family: Arial, sans-serif;
    color: white;
}

h1 {
    color: yellowgreen;
    text-transform: uppercase;
}

footer {
    text-align: center;
    padding: 3px;
    background-color: orange;
    color: white;

    /* random bolletje bij de footer??? */
}

/*  ---------------------------------------------*/


/* section:nth-of-type(2) h2  */

/* NAV bar  */

nav ul {
    display: flex;
    justify-content: space-evenly;
    /* space-evenly of space-between */
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1em;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    padding-bottom: 1em;
    padding-top: 1em;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
    background-color: orange;
    border-radius: 15%;
    transition: .2s ease;
}

/* list items zijn niet dezelfde grootte, home is bijvoorbeeld kleiner dan intermediate */

nav li a:hover {
    background-color: yellowgreen;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05)
}

/*  ---------------------------------------------*/

/* Image settings */

img {
    height: 300px;
}

/* NAV bar  */

nav ul {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    list-style-type: none;
    gap: 1em;
    border-bottom: solid 1px white;
    border-top: solid 1px white;
    padding-bottom: 1em;
    padding-top: 1em;
}

nav li a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 1em;
    background-color: orange;
    border-radius: 15%;
    transition: .2s ease;
}

/* list items zijn niet dezelfde grootte, home is bijvoorbeeld kleiner dan intermediate */

nav li a:hover {
    background-color: yellowgreen;
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05)
}

/*  ---------------------------------------------*/

/* GRID */

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto grid-column-gap: 1vw;
    grid-row-gap: 1vw;
    grid-template: auto;
}

.grid-item {
    border: solid 2px orange;
    background-color: beige;
    margin: 1vw;
}

.grid-item p,
h2,
a {
    color: black;
}

/* wie ben ik? in de index pagina wordt ook zwart. WHY!!! */

.nested-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/*  ---------------------------------------------*/
